




#head
{

    position: fixed;
    left: 2%;
    top: 20%;
 
   
padding: 1%;
background: rgba(0, 0, 0, 0);
transform-style: preserve-3d;
z-index: 1 ;
transform: 

perspective(5000px)

rotateX(var(--rotateX))
rotateY(var(--rotateY))

}

#propertyContent
{
    
  margin-bottom: 2%;
  margin-top: 2%;
    overflow: hidden;
    
}

.property
{
    position: absolute;

  height: 200px;

  transition: transform 3s ease, opacity 0.3s ease;
}

#head::before,
#head::after
{
    content: "";
    position: fixed;
    border-radius: inherit;
}



#head::after
{
    inset: -1rem;
    background: rgba(0, 0, 0, 0);
     transform: translateZ(-50px);


}





:root{


    --white: hsl(0, 0%, 100%);
    --green:hsl(198, 98%, 43%);
 --yellow:hsl(180, 100%, 49%);
    --orange:hsl(249, 100%, 48%);
}


pre
{
--log: var(--green);
--console: var(--white);
--colon: var(--white);
--bracket: var(--yellow);
--property: var(--orange);
--quotationMarks: var(--orange);
font-size: 20px;
font-weight: bold;

background: hsl(221, 44%, 7%);
padding: 15px;
margin-bottom: 2%;
margin-top: 2%;
margin-left: 2%;
margin-right: 2%;
border-radius: 1rem;
position: relative;
transform-style: preserve-3d;
z-index: 998;
transform: 

perspective(5000px)

rotateX(var(--rotateX))
rotateY(var(--rotateY))

}

.log
{
color: var(--log);
}

.colon
{
    color: var(--colon);
}
.quotationMarks
{
    color: var(--quotationMarks); 
}
.bracket
{
    color: var(--bracket); 
}

.property
{
    color: var(--property); 
}
.console
{
    color: var(--console); 
}
   
pre > *
{
text-shadow: 0 0 0.3em currentColor;
}

pre::before,
pre::after
{
    content: "";
    position: absolute;
    border-radius: inherit;
}


/* gradient thingy */
pre::after
{
    inset: -2px;
    background: hsl(246, 100%, 17%);
     transform: translateZ(-50px);

}

/* pre::before
{
    inset: 0.75rem;
    background: black;
     transform: translateZ(-49px);
     filter: blur(15px);
     opacity: 0.5;

} */




















@media screen and (max-width: 1150px) {
     pre
    {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 57%;
        text-align: center;
        margin: 0px 0;
        margin-bottom: 6.5%;
        margin-top: 6.5%;
    }

    #head
    {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 97%;
        text-align: center;
        margin: 0px 0;
        margin-bottom: 6.5%;
        margin-top: 6.5%;
    }


    #head::after
{
   
    background: rgba(0, 0, 0, 0);
   

}
}
@media screen and (max-width: 700px) {

    pre
    {
        font-size: 15px;
        width: 70%;
    
    }
}


@media screen and (max-width: 500px) {

    pre
    {
        font-size: 12px;
        width: 78%;
        background: hsla(221, 44%, 7%, 0);
        margin-bottom: 1px;
        margin-top: 1px;
        margin-left: 1px;
        margin-right: 1px;

        
    }


    pre::after
{
    
    background: hsla(221, 44%, 7%, 0);
   

}

#propertyContent
{
    
  margin-bottom: 1px;
  margin-top: 1px;

    
}

}


@media screen and (max-width: 300px) {

    pre
    {
        font-size: 10px;
        width: 90%;
    }
}

