.loader {
  position: absolute;
  background-color: rgb(5, 5, 55);
  color: #a3a3a3;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}
