
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
html,
body,

.navbar-brand{
    color:  #fff;
    background: linear-gradient(to bottom,#000000, #010933, #021267, #03177b);
}
#cover{
 
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
	height: 700px;

}

.logo-head
{
    width: 13%;
}
.col-md-3 {
    width: 100%;
  }
  @keyframes typing {
    from { width: 0%; }
    to { width: 100%; }
  }
  .typewriter {
    overflow: hidden; 
    border-right: .1em solid rgb(255, 255, 255);
    white-space: nowrap;

    animation:
      typing 10.5s steps(120, end),
      blink-caret .4s step-end infinite;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700 !important;
      font-size: 55px !important;
      color: #fff ;
      margin-bottom: 30px !important;
  }
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    35% { border-color: rgb(255, 255, 255); }
  }
.fixed-top{
    max-width: 1140px;
    margin: 20px auto;
    transition: 0.2 all linear;
}
h1{
    margin-top: 15% !important;
    font-family: 'Montserrat', serif;
    color: #fff;
    font-size: 40px !important;
    font-style: italic;
  
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 !important;
    font-size: 75px !important;
    color: #fff ;
 
}
h3{
	margin-bottom: 5% !important;
	text-align: left;
}
h4{
    font-family: 'Montserrat', serif;
    position: relative;
    color: #fff !important;
    font-style: italic;
    margin-bottom: 30px !important;
}
h6{
	text-align: left;
}
.btn-primary :active {
    backdrop-filter: blur(4px);
    color: #ffff !important;
    background-color: #383838a9;
}
.btn-primary{
    font-family: 'Montserrat', sans-serif !important;
    background:#262626a9;
    backdrop-filter: blur(4px);
    border-style: none !important;
    font-size: 18px !important;
    padding: 20px 40px !important;
    font-weight: 700 !important;
}
.btn-primary:hover{
    backdrop-filter: blur(4px);
    color: #ffff !important;
    background-color: #383838a9;
}
a.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff !important;
    width: 120px;
    transition: color .5s ease;
    -webkit-transition:  color .5s ease;
    -moz-transition:  color .5s ease;
    -o-transition:  color .5s ease;
}
#services {
    padding: 70px 0px;
  }
  .services-top h3,
  .portfolio-top h3,
  .oceny-top h3,
  .aboutUs-top h3,
  .team-top h3,
  .contact-top h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
  }
  .services-top p,
  .portfolio-top p,
  .aboutUs-top p,
  .team-top p,
  .contact-top p {
    font-family: 'Montserrat', serif;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 70px;
  }
  .item-circle {
    border: 2px solid #ffff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .services-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 24px;
  }
  .services-content p,
  .aboutUs-content p {
    font-family: 'Montserrat', serif;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
  }
  .services-content {
    border-radius: 10px;
    padding: 20px;
    background: #262626a9;
    backdrop-filter: blur(4px);
    display: inline-block;
  }
  .services-content:hover {
    background: #383838a9;
    backdrop-filter: blur(4px);
  }
  .black-block {
    flex: 0 0 auto;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.524);
    backdrop-filter: blur(4px);
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-right: 10px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-container {
    font-family: 'Montserrat', serif;
    margin-bottom: 20px;
  }
  .text-container img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 5px;
    margin-top: 10px;
  }
  .carousel {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
  }
  .slide-container {
    width: 100%; 
    display: flex;
    position: absolute;
    left: 0;
    transition: left 1.5s;
  }
  .slide {
    width: 100%;
    height: 100%;
  }
  .red {
    flex: 0 0 auto;
    width: 29%;
    backdrop-filter: blur(4px);
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }

#portfolio{
   
    padding: 120px 0;
}
.card{
    border-style: none;
}
.card img{
	width: 100%;
    background-size: cover;
}
.portfolio-content .card-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700; 
}
.portfolio-content .card-subtitle{
    font-family: 'Montserrat', serif;
    font-size: 14px;
    font-style: italic
}
.aboutUs-content img{
	width: 100%;
    background-size: cover;
    border: 7px solid  #000000a9;
}

.aboutUs-content .row{
    margin-bottom: 90px;
}
.aboutUs-content h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}
.aboutUs-content{
    position: relative;
    text-align: center;
}
.aboutUs-content:before{
    content: "";
    top: 0;
    bottom: 0;
    left: 50%;
    position: absolute;
    width: 4px;
    background:  #000000a9;
    margin-left: -2px;
}
.about-circle:before{
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    background: #000000a9;
    border-radius: 50%;
    border: 7px solid   #000000a9;
    left: 50%;
    margin-left: -100px;
}
.rounded-circle {
    border-radius: 0%!important;
}

#socialIcons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icon{
   
    padding-left: 5px;
    padding-right: 5px;
}
.social-icon .fab{
    border: 2px solid #262626;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 26px;
}
.team-content p{
    width: 85%;
    margin: 50px auto;
    font-family: 'Montserrat', serif;
    color: #ffffff;
    font-size: 16px;
}

#footer {
    padding: 20px 0px;
    background:#262626a9;
    backdrop-filter: blur(4px);
    color: #fff;
}
#footer a{
    color: #fff;
}
.footer-item :hover {
text-decoration: none;
}
.logo {
    width: 45%;
    margin-bottom: 20px;
    margin-top: 20px;
}
#socialIcons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#socialIcons li {
    display: inline-block;
    margin-right: 10px;
}
#socialIcons a {
    color: #ffff;
    font-size: 24px;
}
.company-social-icons{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.company-social-icon{
    display: inline;
    padding-left: 9px;
    padding-right: 9px;
    color: #fff;
}
.company-social-icon i{
    background: #262626;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.change-fixed-top{
    margin-top: 0px;
    background:#262626a9;
    backdrop-filter: blur(4px);
    max-width: 100%;
}































@media (max-width: 991px){
  
    .company-social-icon{
        padding-left: 5px;
        padding-right: 5px;
    }
    .company-social-icon i{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .typewriter {
        font-size: 34px !important;
  }
    h1{
        margin-top: 280px;
        font-size: 36px;
    }
    h2{
        font-size: 55px;
    }
	.card img{
		width: 100%;
		
		background-size: cover;
	}
  .red {
  
    width: 50%;
  
  }
  .carousel {
    width: 100%;
    height: 400px;
    overflow:hidden;
    position: relative;
  }
	a.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff !important;
   text-align: center;
	width: 100%;
    transition: color .5s ease;
    -webkit-transition:  color .5s ease;
    -moz-transition:  color .5s ease;
    -o-transition:  color .5s ease;
        text-decoration: none;
	}
    #footer p{
        font-size: 11px;
        line-height: 30px;
    }
}


















@media (max-width: 767px){
	#cover{
		height: 600px;
	}
    .typewriter {
        font-size: 25px !important;
  }
    .navbar-collapse{
        background: #262626;	
    }
    .navbar-light .navbar-toggler{
        border: 1px solid #262626;
    }
  
    h1{
		margin-top: 100px !important;
        font-size: 32px !important;
        margin-bottom: 15px !important;
    }
    h2{
        font-size: 50px !important;
        color: #fff !important;
        margin-bottom: 20px !important;
    }
    h3{
      width: 100%;
    }
    .red {
      width: 90%;
    }
    .carousel {
      width: 100%;
      height: 400px;
      overflow:hidden;
      position: relative;
    }
    .navbar-toggler{
        background: #262626;
        outline: none !important;
        border: none !important;
    }
    textarea{
        margin-top: 30px !important;
        margin-left: 25px !important; 
    }
	.card img{
		width: 100%;
	}
  .card{
    border-style: none;
    margin-bottom: 30px;
}
}





















@media (max-width: 575px){

    .col-md-3 {
        width: 100%;
    }
	#cover{
		height: 600px;
	}
    h1{
		margin-top: 30% !important;
        font-size: 40px !important;
    }
    h2{
        font-size: 30px !important;
    }

    #portfolio{
      background:#262626;
      backdrop-filter: blur(4px);
    
  }
  .card{
      border-style: none;
      margin-bottom: 30px;
  }
  .card img{
    width: 100%;
      background-size: cover;
  }
  .portfolio-content .card-title{
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: 700; 
  }
  .portfolio-content .card-subtitle{
      font-family: 'Montserrat', serif;
      font-size: 14px;
      font-style: italic
  } 
    .navbar-toggler{
        background: #262626;
        outline: none !important;
        border: none !important;
    }
    textarea{
        margin-top: 30px !important;
        margin-left: 25px !important;
    }
	.card img{
		width: 100%;
		
		background-size: cover;
	}
     .typewriter {
        font-size: 20px !important;
  }
  .red {
  
    width: 90%;
  
  }
  .carousel {
    width: 100%;
    height: 400px;
    overflow:hidden;
    position: relative;
  }
}
