@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
html,
body,

.navbar-brand {
    color: #fff;
 background: linear-gradient(to bottom,#000000,#012265c8,#012265c8,#012265c8,#012265c8,#012265c8,#012265c8,#012265c8,#002877C8,#002877C8,#002877C8),
 url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 8000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
 --color-text: #fff;
  --color-bg: #000;
  --color-link: #555;

  --glitch-width: 98.8vw;
  --glitch-height: 100vh;
  --gap-horizontal: 10px;
  --gap-vertical: 5px;
  --time-anim: 4s;
  --delay-anim: 2s;
  --blend-mode-1: none;
  --blend-mode-2: overlay;
  --blend-mode-3: none;
  --blend-mode-4: none;
  --blend-mode-5: overlay;
  --blend-color-1: transparent;
  --blend-color-2: #ffffff3a;
  --blend-color-3: transparent;
  --blend-color-4: transparent;
  --blend-color-5: #ffffff33;
}
#cover {
    height: 800px;
    color: #fff;
}
.logo-head {
    width: 183px;
    height: 77.86px;
}

.contentText {
    font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 50px;
      color: #fff;
    animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.25);
  }
.col-sm-12 {
    top: 260px;
}
.col-md-3 {
    width: 100%;
}
@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
.typewriter {
    overflow: hidden;
    border-right: .1em solid rgb(255, 255, 255);
    white-space: nowrap;

    animation:
        typing 10.5s steps(120, end),
        blink-caret .4s step-end infinite;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: #fff;
    margin-bottom: 30px;
}
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    35% {
        border-color: rgb(255, 255, 255);
    }
}


.fixed-top {
    max-width: 1140px;
    margin: 20px auto;
    transition: 0.2 all linear;
}
h1 {
    margin-top: 15%;
    font-family: 'Montserrat', serif;
    color: #fff;
    font-size: 40px;
    font-style: italic;

}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 75px;
    color: #fff;

}
h3 {
    margin-bottom: 5%;
    text-align: left;
}
h4 {
    font-family: 'Montserrat', serif;
    position: relative;
    color: #fff;
    font-style: italic;
    margin-bottom: 30px;
}
h6 {
    text-align: left;
}
.btn-primary :active {
    border-style: none;
}
.btn-primary {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(300deg, #ffffff 0%, #ffffff00 0%, #ffffff3a 70%);
    backdrop-filter: blur(4px);
    border-style: none;
    font-size: 18px;
    padding: 20px 40px;
    font-weight: 700;
}
.btn-primary:hover {
    backdrop-filter: blur(4px);
    color: #fff;
    background-color: #ffffff3a;
    background-image: radial-gradient(circle, #012265c8 1%, transparent 100%);
    background-size: 100%;
   
}
a.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #fff;
    width: 142px;

}
a.nav-link:hover {
    color: #ffffffaf !important;
  
}


#services {
    padding: 70px 0px;
}
.services-top h3,
.portfolio-top h3,
.oceny-top h3,
.aboutUs-top h3,
.team-top h3,
.contact-top h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.services-top p,
.portfolio-top p,
.aboutUs-top p,
.team-top p,
.contact-top p {
    font-family: 'Montserrat', serif;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 70px;
}
.item-circle {
    border: 2px solid #ffff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.services-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 24px;
}
.services-content p,
.aboutUs-content p {
    font-family: 'Montserrat', serif;
    color: #ffffff;
    font-size: 14px;
    text-align: left;
}
.services-content {
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(-90deg, #ffffff 0%, #ffffff00 0%,  #ffffff3a 100%);
    backdrop-filter: blur(4px);
    display: inline-block;
    
}
.services-content:hover {
    background: #ffffff3a;
    backdrop-filter: blur(4px);
    background-image: radial-gradient(circle, #012265c8 1%, transparent 100%);
    background-size: 100%;
}
.black-block {
    flex: 0 0 auto;
    width: 100%;
    border-radius: 10px;
    background:  #ffffff3a;

    backdrop-filter: blur(4px);
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-right: 10px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-container {
    font-family: 'Montserrat', serif;
    margin-bottom: 20px;
}
.text-container img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 5px;
    margin-top: 10px;
}
.carousel {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.slide-container {
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: left 1.5s;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
}
.slide {
    width: 100%;
    height: 100%;
}
.slide-opinions {
    flex: 0 0 auto;
    width: 29%;
    backdrop-filter: blur(4px);
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
#portfolio {
    background: linear-gradient(-90deg, #ffffff 0%, #ffffff00 0%,  #ffffff3a 70%);
    padding: 60px 0;
    backdrop-filter: blur(4px);
}
.card {
    border-style: none;
}
.card img {
    width: 100%;
    background-size: cover;
}
.portfolio-content .card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.portfolio-content .card-subtitle {

    font-family: 'Montserrat', serif;
    font-size: 14px;
    font-style: italic
}

.aboutUs-content img {
    width: 100%;
    background-size: cover;
    border: 7px solid  #ffffff3a;
}

.aboutUs-content .row {
    margin-bottom: 90px;
}

.aboutUs-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.aboutUs-content {
    position: relative;
    text-align: center;
}

.aboutUs-content:before {
    content: "";
    top: 0;
    bottom: 0;
    left: 50%;
    position: absolute;
    width: 4px;
    background:  #ffffff3a;
    margin-left: -2px;
}

.about-circle:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    background:  #ffffff3a;
    border-radius: 50%;
    border: 7px solid #ffffff3a;
    left: 50%;
    margin-left: -100px;
}

.rounded-circle {
    border-radius: 0% !important;
}

#socialIcons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icon {

    padding-left: 5px;
    padding-right: 5px;
}

.team-content p {
    width: 85%;
    margin: 50px auto;
    font-family: 'Montserrat', serif;
    color: #ffffff;
    font-size: 16px;
}

#footer {
    padding: 20px 0px;
    background: #ffffff3a;
    backdrop-filter: blur(4px);
    color: #fff;
}

#footer a {
    color: #fff;
}

.footer-item :hover {
    text-decoration: none;
}

.logo {
       width: 183px;
        height:77.86px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#socialIcons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#socialIcons li {
    display: inline-block;
    margin-right: 10px;
}

#socialIcons a {
    color: #ffff;
    font-size: 24px;
}

.company-social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.company-social-icon {
    display: inline;
    padding-left: 9px;
    padding-right: 9px;
    color: #fff;
}

.company-social-icon i {
    background: #ffffff3a;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.change-fixed-top {
    margin-top: 0px;
    background: #ffffff3a;
    backdrop-filter: blur(4px);
    max-width: 100%;
}

@media (max-width: 991px) {
    .logo-head {
        width: 183px;
        height:77.86px;
    }
    .company-social-icon {
        padding-left: 5px;
        padding-right: 5px;
    }

    .company-social-icon i {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .col-sm-12 {
        top: 40px;
    }

    .typewriter {
        font-size: 34px;
    }

    h1 {
        margin-top: 280px;
        font-size: 36px;
    }

    h2 {
        font-size: 55px;
    }

    .card img {
        width: 100%;

        background-size: cover;
    }

    .slide-opinions {
        width: 50%;
    }

    .carousel {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
    }

    a.nav-link {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #fff;
        text-align: center;
        width: 100%;
        transition: color .5s ease;
        -webkit-transition: color .5s ease;
        -moz-transition: color .5s ease;
        -o-transition: color .5s ease;
        text-decoration: none;
    }

    #footer p {
        font-size: 11px;
        line-height: 30px;
    }
}

@media (max-width: 767px) {
    .logo-head {
        width: 183px;
        height:77.86px;
    }
    #cover {
        height: 600px;
    }

    .col-sm-12 {
        top: 120px;
    }

    .typewriter {
        font-size: 25px;
    }

    .navbar-collapse {
        background: #ffffff3a;
    }

    .navbar-light .navbar-toggler {
        border: 1px solid #ffffff3a;
    }

    h1 {
        margin-top: 100px;
        font-size: 32px;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 50px;
        color: #fff;
        margin-bottom: 20px;
    }

    h3 {
        width: 100%;
    }

    .slide-opinions {
        width: 90%;
    }

    .carousel {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
    }

    .navbar-toggler {
        background: #ffffff3a;
        outline: none;
        border: none;
    }

    textarea {
        margin-top: 30px;
        margin-left: 25px;
    }

    .card img {
        width: 100%;
    }

    .card {
        border-style: none;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    .logo-head {
        width: 183px;
        height:77.86px;
    }

    .logo {
        width: 183px;
        height: 77.86px;
        margin-bottom: 50px;
    }
    .contentText {

          font-size: 23px;
        
      }
    .col-sm-12 {
        top: 140px;
    }

    .col-md-3 {
        width: 100%;
    }

    #cover {
        height: 600px;
    }
    .services-top h3 {
        margin-left: 15px;
    }
    h1 {

        margin-top: 30%;
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    .card {
        border-style: none;
        margin-bottom: 30px;
    }
    .card img {
        width: 100%;
        background-size: cover;
    }
    .portfolio-content .card-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 700;
    }
    .portfolio-content .card-subtitle {
        font-family: 'Montserrat', serif;
        font-size: 14px;
        font-style: italic
    }
    .navbar-toggler {
        background: #ffffff3a;
        outline: none;
        border: none;
    }
    .typewriter {
        font-size: 20px;
        padding-left: 5px
    }

    .slide-opinions {
        width: 90%;
    }
    .carousel {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
    }
}
@media (max-width: 450px){
    .contentText {
    
          font-size: 23px;
       
      }
  
    .typewriter {
        font-size: 16px;
        padding-left: 5px;
    }
    h4
    {
        font-size: 15px;
        
    }
    .logo-head {
        width: 183px;
        height:77.86px;
    }

}












/* Page Loader */


.imgloaded .contentTitle,
.imgloaded .contentText {
  animation-name: glitch-text;
  animation-duration: var(--time-anim);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.contentSection {

  position: relative;
  display: grid;
  justify-content: left;
  
}

.contentTitle {
    margin-top: 15%;
    font-family: 'Montserrat', serif;
    color: #fff;
    font-size: 40px;
    font-style: italic;
  animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);
}

.contentTitle span {
  color: var(--color-link-hover);
}

/* Glitch styles */
.glitch {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--glitch-width);
  height: var(--glitch-height);
  overflow: hidden;
}

.glitchit {
  position: absolute;
  top: calc(-1 * var(--gap-vertical));
  left: calc(-1 * var(--gap-horizontal));
  width: calc(100% + var(--gap-horizontal) * 2);
  height: calc(100% + var(--gap-vertical) * 2);
  /* background: url(Strony-internetowe-i-sklepy-na-WordPress-Strony-www-Tworzenie-stron.png) no-repeat 50% 0;
  background-size: 600px; 
   background-position:800px 0; 
   top: 30px; */
}

.glitchit:nth-child(n+2) {
  opacity: 0;
}

.imgloaded .glitchit:nth-child(n+2) {
  animation-duration: var(--time-anim);
  animation-delay: var(--delay-anim);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.imgloaded .glitchit:nth-child(2) {
  background-color: var(--blend-color-2);
  background-blend-mode: var(--blend-mode-2);
  animation-name: glitch-1;
}

.imgloaded .glitchit:nth-child(3) {
  background-color: var(--blend-color-3);
  background-blend-mode: var(--blend-mode-3);
  animation-name: glitch-2;
}

.imgloaded .glitchit:nth-child(4) {
  background-color: var(--blend-color-4);
  background-blend-mode: var(--blend-mode-4);
  animation-name: glitch-3;
}

.imgloaded .glitchit:nth-child(5) {
  background-color: var(--blend-color-5);
  background-blend-mode: var(--blend-mode-5);
  animation-name: glitch-flash;
}

/* Animations */
@keyframes glitch-1 {
  0% {
    opacity: 1;
    transform: translate3d(var(--gap-horizontal), 0, 0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  12% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  16% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(var(--gap-horizontal), 0, 0);
  }
  22%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}
@keyframes glitch-2 {
  0% {
    opacity: 1;
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }
  3% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
  5% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }
  7% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  9% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }
  11% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }
  13% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  15% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }
  17% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }
  19% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }
  20% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
  }
  22%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}
@keyframes glitch-3 {
  0% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
  }
  1.5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
  }
  2% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }
  2.5% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  3% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }
  5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }
  5.5% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }
  7% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }
  8% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  9% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }
  10.5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }
  11% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }
  13% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }
  14% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }
  14.5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }
  15% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }
  16% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  18% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }
  21.9% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
  }
  22%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}
@keyframes glitch-text {
  0% {
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  2% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  4% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  6% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  7% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  8% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  9% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  9.9% {
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
  }
  10%, 100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
/* Flash */
@keyframes glitch-flash {
  0%, 5% {
    opacity: 0.2;
    transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
  }
  5.5%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}