/* icone */

.assistantButton,
.assistantWindow {
  position: fixed;
  transition: 1.3s;
 background-color: rgba(255, 255, 255, 0.097);
}

/* assistant button  */
.assistantButton {
  bottom: 53px;
  right: 50px;
  padding: 10px;
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  z-index: 99;
  border-top: 0.5px solid rgba(255, 255, 255, 0.197) !important;
  border: none;
}

.assistantButton:hover {
  transition: 1.3s;
  box-shadow: 0 0 10px #fff;
}

/* assistant window  */
.assistantWindow {
  bottom: 0;
  width: 30%;
  height: 100%;
  right: 0;
  z-index: 99;
}

/* close window  */
.closeWindowPopup {
  position: fixed;
  background: #0000;
  top: 15px;
  right: 20px;
  font-weight: 900;
  font-size: 15px;
color: rgba(255, 255, 255, 0.76);
  border: 0;
  z-index: 999;
}

.closeWindowPopup:hover {
color: rgb(255, 255, 255);
}

@media screen and (max-width: 850px) {
  .assistantWindow {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .assistantWindow {
    padding: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    transform: translateX(-50%);
    left: 50%;
    height: 100%;
    border-radius: 0;
    right: 0;

    position: fixed;
  }

  .assistantButton {
    bottom: 20px;
    right: 5px;
  }
}
