.styleNav {
  font-size: 25px;
  width: 370px;
}
.styleNavContact {
  font-size: 25px;
  margin: 0px 0px 15px 7.5px;
  animation: pulseContact 2s infinite;
;
}

.styleNavContact:hover {
  text-shadow: 0 0 1em currentColor;

}

@keyframes pulseContact {
  0% {
    text-shadow: 0 0 1em currentColor;
  }

  50% {
    text-shadow: 0 0 0em currentColor;
  }
}
.navigationIndicator {
  display: flex;
  transition: 0.3s;
  color: #ffffff8a;
}
.navigationIndicator::before {
  content: "";
  padding-right: 2%;
  transition: 0.3s;
  color: rgb(255, 255, 255);
}
.navigationIndicator.navigationIndicatorOn {
  color: rgb(255, 255, 255);
}
.navigationIndicator.navigationIndicatorOn,
.navigationIndicator:hover {
  color: rgb(255, 255, 255);
}

.navigationIndicator.navigationIndicatorOn::before {
  content: " ─────── ";
  padding-right: 2%;
  text-shadow: 0 0 1em currentColor;
  transition: 0.3s;
  color: rgb(255, 255, 255);

}
.navigationIndicator:hover::before {
  content: " ─────── ";
  padding-right: 2%;
  text-shadow: 0 0 1em currentColor;
  transition: 0.3s;
  color: rgb(255, 255, 255) !important;

}

.navigationIndicator.navigationIndicatorOff::before {
  content: "";
  padding-right: 2%;
  transition: 0.3s;
  color: rgb(255, 255, 255);
}
.navigationIndicator.navigationIndicatorOff {
  color: #ffffff8a;
  transition: 0.3s;
}

@media screen and (max-width: 1150px) {
  .styleNav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .styleNavContact {
    font-size: 17px;
    margin: 0px 0px 15px 2px;
  }
}
