.sectionWrapper {
  position: relative;
  left: 65%;
  border-top: 0.5px solid rgba(255, 255, 255, 0);
  width: 35%;
  padding: 1% 1% 1% 1%;
  margin: 0% 2% 2% 0%;
  transition: 1s;
  display: flow-root;
  text-align: left;
}
.sectionTitleText {
  font-weight: 900;
  font-size: 18.5px;
}

.sectionWrapper:hover {
  color: rgb(251, 251, 251);
  padding: 1% 1% 1% 1%;
  margin: 0% 2% 2% 0%;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.097);
  border-top: 0.5px solid rgba(255, 255, 255, 0.197);
}

.sectionWrapperBackground {
  border-top: 0.5px solid rgba(255, 255, 255, 0);
  border-top: none;
}

.sectionWrapperBackground:hover {
  background-color: rgba(255, 255, 255, 0);
  border-top: 0.5px solid rgba(255, 255, 255, 0);
  color: rgb(251, 251, 251);
  padding: 1% 1% 1% 1%;
  margin: 0% 2% 2% 0%;
  border-radius: 0;
  border-top: none;
}

.sectionMainText {
  padding: 0% 1.5% 1.5% 0%;
  margin: 0% 1.5% 1.5% 0%;
}

@media screen and (max-width: 1150px) {
  .sectionWrapper {
    left: 0%;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .sectionWrapper {
    width: 100%;
  }
  .sectionWrapper:hover {
    border-radius: 0rem;
    background-color: rgba(255, 255, 255, 0);
    border-top: 0.5px solid rgba(255, 255, 255, 0);
  }

  .sectionWrapperBackground:hover {
    background-color: rgba(255, 255, 255, 0);
    border-top: 0.5px solid rgba(255, 255, 255, 0);
  }

  .sectionWrapper {
    transition: 0s;
  }
}
