.icon {
  color: rgba(255, 255, 255, 0.76);
  margin-top: 0;
  padding: 0px 8px 0px 8px;
  font-size: 22px;
  transition: 0.5s;
  display: inline;
}
.icon:hover {
  color: rgb(255, 255, 255);
}
.iconGroupWrapper {
  display: inline-flex;
  margin-top: 10%;
}

.iconGroupWrapper::before {
  content: "" !important;
}
.iconGroupWrapper:hover::before {
  content: "" !important;
}

@media screen and (max-width: 1150px) {
  .iconGroupWrapper {
    margin-top: 0%;
    margin-bottom: 0%;
  }
}

@media screen and (max-width: 600px) {
  .iconGroupWrapper {
    margin-top: 10%;
    margin-bottom: 30%;
  }

  .icon {
    padding: 0px 8px 0px 8px;
  }
}
