.loading {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0);
  pointer-events: none;
  z-index: 998;
}

.landingText {
  position: relative;
  font-family: "Best Signature Font", sans-serif;
    /* font-family: "Brush Script MT", "Lucida Handwriting", "Segoe Script", cursive; */

  z-index: 999;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 70px;
}

.landingTextContener {
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
}
