* {
  box-sizing: border-box;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: anywhere;
  color: #ffffff93;
  background-color: rgb(5, 5, 55);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  font-weight: 300;
  scroll-behavior: smooth;
  line-height: 1.4;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  padding-top: 3%;
  padding-bottom: 1%;
  text-align: center;
}
h3 {
  font-weight: 600;
  display: flex;
  font-size: 17px;
  padding: 0% 0% 1.5% 0%;
  margin: 0% 0% 0% 0%;
  z-index: 994;
}
ol {
  padding: 0% 0% 0% 4.5%;
  margin: 0% 0% 0% 0%;
}
a {
  color: #ffffff;
  text-decoration: none;
}

i {
  margin-top: 200px;
  font-size: 35px;
  padding: 1.5% 0% 1.5% 0%;
}

i:hover {
  text-shadow: 0 0 0.3em currentColor;
}

a:active {
  text-shadow: 0 0 1em currentColor;
}

a:hover {
  text-shadow: 0 0 0.3em currentColor;
}
.postImages {
  width: 100%;
  height: 200px;
  padding: 0px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.pagePostImages {
  width: 95%;
height: 77%;
  padding: 0px;
  margin-bottom: 0px;
position: relative;
  border-radius: 10px;
left: 50%;
  transform: translateX(-50%);
}
.postWrapper {
  display: flex;
}

.postWrapper {
  padding: 0.5%;
}
.postPageWrapper {
  text-align: left;
  position: relative;
  width: 90%;
  left: 50%;
  transform: translate(-50%);
}
.postElements {
  position: relative;
  background: rgba(0, 0, 0, 0.433);
  padding: 5%;
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%);
  border: solid 0.5px, rgb(236, 236, 236);
}

.titlePost {
  font-weight: 500;
}

.mainPost h1 {
  margin-top: -10px;
  margin-bottom: -2px;
  text-align: left;
  font-weight: 100;
}

.mainPost p,
.mainPost a,
.mainPost h2,
.mainPost ol,
.mainPost h3,
.mainPost ul,
.mainPost li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-size: 15px;
}
.mainPost {
  height: 290px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.postElements {
  margin: 0px 50px 40px 0px;
}

pre {
  background: rgba(0, 0, 0, 0.574);
  color: #ffffff;
  padding: 1%;
  overflow: hidden;
}

.mainPost h1 {
  color: #d1d1d1;
  font-size: 18.5px;
  white-space: initial;
  font-weight: 900;
}

.styleNavBlog {
  color: #ffffff93;
  font-size: 25px;
  margin: 0px 0px 15px 7.5px;
}

.styleNavBlog:hover {
  color: #ffffff;
}

.secondBlogText {
  margin-left: 2%;
  padding: 1.5% 0% 1.5% 0%;
}

.postButton {
  background-color: #00000000;
  padding: 3%;
  margin: 10px;
  color: #ffffff;
  border-radius: 10px;
  border: solid 0.5px, rgb(236, 236, 236);
  transition: 1s;
}

.postButton:hover {
  background-color: #91919153;
  text-shadow: 0 0 0.3em currentColor;
}

@media screen and (max-width: 670px) {
  .postImages {
    height: 250px;
  }
  .mainPost {
    height: 350px;
  }
  .postWrapper {
    display: contents;
  }
}

@media screen and (max-width: 600px) {
  .mainPost {
    bottom: 200px;
    top: -100px;
  }

  .styleNavBlog {
    font-size: 17px;
    margin: 0px 0px 15px 2px;
  }

  .postPageWrapper {
    text-align: left;
    position: relative;
    width: 100%;
    padding: 1%;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }
  .postElements {
    position: relative;
    padding: 5%;
    margin: 0px 0px 40px 0px;
    width: 100%;
    left: 0%;
    transform: translate(0%);
  }

.pagePostImages {
  width: 100%;
height: 40%;

}

}

@media screen and (max-width: 400px) {
  .postImages {
    height: 200px;
  }
  .mainPost {
    height: 300px;
  }
}
