.postImages {
  width: 100%;
  height: 200px;
  padding: 0px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.pagePostImages {
  width: 100%;
  padding: 0px;
  border-radius: 10px 10px 0px 0px;
  margin: 0px;
  position: relative;
}

.search {
  padding: 5px;
  left: 2.5%;
  position: relative;
  background-color: rgb(5, 5, 55);
  color: #ffffff;
}

.logo {
  z-index: 999999;
  position: fixed;
  left: 45px;
  margin-top: 10px;
}
.singlePostImages {
  width: 60%;
  padding: 0px;
  margin-bottom: 0px;
  position: relative;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.postWrapper {
  display: flex;
  padding: 0.5%;
  flex-wrap: wrap;
}

.postPageWrapper {
  text-align: left;
  position: relative;
  width: 75%;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}
.postElements {
  position: relative;
  background: rgba(0, 0, 0, 0.433);
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%);
  border: solid 0.5px, rgb(236, 236, 236);
}

.postStatusElements {
  position: relative;
  background: rgba(0, 0, 0, 0.433);
  padding: 0% 1% 0% 1.3%;
  width: 145px;
  border-radius: 10px;
  border: solid 0.5px, rgb(236, 236, 236);
}

.titlePost {
  font-weight: 500;
}

.mainPost h1 {
  margin-top: -10px;
  margin-bottom: -2px;
  text-align: left;
  font-weight: 100;
}

.mainPost p,
.mainPost a,
.mainPost h2,
.mainPost ol,
.mainPost h3,
.mainPost ul,
.mainPost li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;

  font-weight: 100;
  font-size: 15px;
}
.mainPost {
  height: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5%;
}

.postStatusElements {
  margin: 0px 10px 30px 0px;
}

.postElements {
  margin: 0px 50px 40px 0px;
}

.mainPost h1 {
  color: #d1d1d1;
  font-size: 18.5px;
  white-space: initial;
  font-weight: 900;
}

.styleNavBlog {
  color: #ffffff93;
  font-size: 25px;
  margin: 0px 0px 15px 7.5px;
}

.styleNavBlog:hover {
  color: #ffffff;
}

.secondBlogText {
  margin-left: 2%;
  padding: 1.5% 0% 1.5% 0%;
}

.postButton {
  background-color: #00000000;
  padding: 3%;
  margin: 10px;
  color: #ffffff;
  border-radius: 10px;
  border: solid 0.5px, rgb(236, 236, 236);
  transition: 1s;
  cursor: pointer;
}

.postButton:hover {
  background-color: #91919153;
  text-shadow: 0 0 0.3em currentColor;
}
@media screen and (max-width: 1430px) {
  .postElements {
    left: 5%;
    transform: translate(0%);
  }
}
@media screen and (max-width: 670px) {
  .postWrapper {
    display: contents;
  }
  .postImages {
    height: 450px;
  }
  .mainPost {
    height: 550px;
  }
}

@media screen and (max-width: 600px) {
  .mainPost {
    bottom: 200px;
    top: -100px;
  }

  .styleNavBlog {
    font-size: 17px;
    margin: 0px 0px 15px 2px;
  }

  .postPageWrapper {
    text-align: left;
    position: relative;
    width: 100%;
    padding: 1%;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }
  .postElements {
    position: relative;

    margin: 0px 0px 40px 0px;
    width: 100%;
    left: 0%;
    transform: translate(0%);
  }

  .pagePostImages {
    width: 100%;
    height: 40%;
  }

  .singlePostImages {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    left: 5px !important;
  }
  .postImages {
    height: 200px;
  }
  .mainPost {
    height: 300px;
  }
}
