@import url("https://fonts.cdnfonts.com/css/best-signature-font");

* {
  box-sizing: border-box;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: anywhere;
  color: #ffffff93;
  background-color: rgb(5, 5, 55);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  font-weight: 300;
  scroll-behavior: smooth;
  line-height: 1.4;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  padding-top: 3%;
  padding-bottom: 1%;
}
h3 {
  font-weight: 600;
  display: flex;
  font-size: 17px;
  padding: 0% 0% 1.5% 0%;
  margin: 0% 0% 0% 0%;
  z-index: 994;
}
ol {
  padding: 0% 0% 0% 4.5%;
  margin: 0% 0% 0% 0%;
}
a {
  color: #ffffff;
  text-decoration: none;

}

i {
  margin-top: 200px;
  font-size: 35px;
  padding: 1.5% 0% 1.5% 0%;
}
a.glink img {
  margin-right: 7px;
}
.gt_switcher_wrapper {
  right: 40px !important;
  z-index: 99 !important;
    top: 27px !important;
      filter: grayscale(100%);
  transition: filter 0.3s ease;

}
i:hover {
  text-shadow: 0 0 0.3em currentColor;
}

a:active {
  text-shadow: 0 0 1em currentColor;
}

a:hover {
  text-shadow: 0 0 0.3em currentColor;
}

@media screen and (max-width: 1150px) {
  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 5vw;
  }

  h3 {
    padding-top: 1%;
  }

  i {
    margin-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  ol {
    padding: 0% 0% 0% 4.5%;
    margin: 0% 0% 0% 0%;
  }

  .gt_switcher_wrapper {
  right: 5px !important;
  position:absolute !important;
    top: 35px !important;
}
}
